<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="background" style="background-image:url(<%= asset_path "yuruneko11.png" %>)">
      <%= yield %>
    </div>
  </body>
  <div id="aspslide">
    <div id="asnakami1" class="asnakami"><img src=""></div>
    <div id="asnakami2" class="asnakami"><img src=""></div>
    <div id="asnakami3" class="asnakami"><img src=""></div>
    <div id="asnakami4" class="asnakami"><img src=""></div>
    <div id="asnakami5" class="asnakami"><img src=""></div>
    <div id="asnakami6" class="asnakami"><img src=""></div>
  </div>
  <%= render "shared/footer" %>
</html>
